@model BuyUnion.Models.Product

@{
    ViewBag.Title = Model.Name;
    var detailImage = Model.DetailsImage.SplitToArray<string>();
}

@Styles.Render("~/bundles/swiper/css")

<div class="productDetails paddingT50 paddingB80 bg-color-grey minHight100vh">
    @using (Html.BeginForm())
    {
        @Html.Hidden("userId", Request["userId"])
        <input type="hidden" value="" name="proxyID" id="proxyID" />
        <input type="hidden" name="childProxyID" id="childProxyID" />
        <input type="hidden" name="ids" id="ids" value="@Model.ID" />

        <div class="navigationBar">
            <span class="glyphicon glyphicon-menu-left navigationBar-left" aria-hidden="true" id="btnBack"></span>
            <div class="navigationBar-name">商品详情</div>
        </div>
        <div id="carousel-example-generic" class="carousel slide hidden" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @foreach (var item in detailImage)
                {
                    <li data-target="#carousel-example-generic" class="@(detailImage.IndexOf(item) == 0 ? "active" : "")" data-slide-to="@detailImage.IndexOf(item)"></li>
                }
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @foreach (var item in detailImage)
                {
                    <div class="item @(detailImage.IndexOf(item) == 0 ? "active" : "")">
                        <img src="@Url.ResizeImage(item)" alt="tu1">
                    </div>
                }
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="productDetails-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var item in detailImage)
                    {
                        <div class="swiper-slide @(detailImage.IndexOf(item) == 0 ? "active" : "")">
                            <img src="@Url.ResizeImage(item)">
                        </div>
                    }
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="productDetails-baseInfo">
            <div class="productDetails-name fs24">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="productDetails-price"><span>￥</span>@Model.OriginalPrice</div>
            <div class="clearfix fs14 color-grey">
                <div class="fl"><span>原价：<del>￥@Model.Price</del></span></div>
                <div class="fr">
                    <span>销量：@Model.Sales</span>
                </div>
            </div>
        </div>
        <div name="slide" class="productDetails-graphic marginT20 marginB5">
            <div class="title clearfix">
                图文详情
            </div>

            <div class="detail">
                @Html.Raw(Model.Remark)
            </div>
        </div>

        <div class="productDetails-bugBtn">
            <button type="submit" class="">立刻购买</button>
        </div>
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/Bundles/productDetail")
}