@using Newtonsoft.Json
@model BuyUnion.Models.SubmitOrderViewModel
@{
    ViewBag.Title = "提交订单";
    bool layout = true, bLayout;
    if (bool.TryParse(Request["layout"], out bLayout))
    {
        layout = bLayout;
    }
    string style = layout ? "paddingT50" : "";
}

<div class="orderSubmit minHight100vh bg-color-grey paddingT50">
    @Html.HiddenFor(model => model.ID)
    @*<div>
            配送方式：
            <div class="orderSubmit-type">
                <input id="typeExpress" type="radio" @(Model.Type == BuyUnion.Enums.OrderType.Express ? "checked" : "") name="Type" value="@BuyUnion.Enums.OrderType.Express" />
                <label for="typeExpress">快递配送</label>
            </div>
            <div class="orderSubmit-type">
                <input id="typeOffine" type="radio" @(Model.Type == BuyUnion.Enums.OrderType.Offine ? "checked" : "") name="Type" value="@BuyUnion.Enums.OrderType.Offine" />
                <label for="typeOffine">店面领取</label>
            </div>
        </div>*@

    <div class="navigationBar">
        <span class="glyphicon glyphicon-menu-left navigationBar-left" aria-hidden="true" id="btnBack"></span>
        <div class="navigationBar-name">确认订单</div>
    </div>

    @*显示收货人信息*@
    @if (!string.IsNullOrWhiteSpace(Model.Address))
    {
        <div id="glyphicon-edit" class="consigneeDisplay orderSubmit-address clearfix">
            <div id="info">
                <div class="fl marginR8"><span class="glyphicon glyphicon-map-marker"></span></div>
                <div class="fl">
                    <div class="marginB5">
                        <span class="consignee marginR20">@Html.DisplayFor(model => model.Consignee)</span>
                        <span class="phoneNumber">@Html.DisplayFor(model => model.PhoneNumber)</span>
                    </div>
                    <div class=""><span class="address"> @Html.DisplayFor(model => model.Address)</span></div>
                </div>

                <span class="glyphicon glyphicon-menu-right orderSubmit-address-right"></span>
            </div>
        </div>
    }
    else
    {
        <div id="glyphicon-edit" class="consigneeDisplay orderSubmit-address clearfix text-center">
            <div id="name">添加新地址</div>
            <div id="info" class="hidden">
                <div class="fl marginR8"><span class="glyphicon glyphicon-map-marker"></span></div>
                <div class="fl">
                    <div class="marginB5">
                        <span class="consignee marginR20">@Html.DisplayFor(model => model.Consignee)</span>
                        <span class="phoneNumber">@Html.DisplayFor(model => model.PhoneNumber)</span>
                    </div>
                    <div class=""><span class="address"> @Html.DisplayFor(model => model.Address)</span></div>
                </div>

                <span class="glyphicon glyphicon-menu-right orderSubmit-address-right"></span>
            </div>
        </div>
    }


    @*编辑收货人信息*@
    <div class="consigneeInfo hidden form-horizontal minHight100vh paddingT50 bg-color-grey">
        <div class="navigationBar">
            <span class="glyphicon glyphicon-menu-left navigationBar-left" aria-hidden="true" id="editBack"></span>
            <div class="navigationBar-name">收货地址</div>
        </div>
        <div class="orderSubmit-model style02 clearfix">
            <div class="orderSubmit-model-name">收货人</div>
            <div class="orderSubmit-model-info">@Html.EditorFor(model => model.Consignee)</div>
        </div>
        <div class="orderSubmit-model style02 clearfix">
            <div class="orderSubmit-model-name">联系电话</div>
            <div class="orderSubmit-model-info">@Html.EditorFor(model => model.PhoneNumber)</div>
        </div>
        <div class="orderSubmit-model style02 clearfix">
            <div class="orderSubmit-model-name">所在地区</div>
            <div class="orderSubmit-model-info"><div id="selectedAddress">选择地区</div></div>
        </div>
        <div class="orderSubmit-model style02 clearfix">
            <div class="orderSubmit-model-name">详细地址</div>
            <div class="orderSubmit-model-info"><input type="text" value="" id="Address" name="Address" /></div>
        </div>
        <div class="orderSubmit-title">
            <span class="text-danger">
                * 该商品由于不适合长途运输，所以只支持广东省。
            </span>
        </div>
        <div class="consigneeInfo-btns">
            <button type="button" disabled id="addressSure" class="btn btn-default">确认地址</button>
        </div>
    </div>
    @*选择地区*@
    <div id="districtSelector" class="hidden">
        <ul class="tabUl">
            <li id="tabProvince">广东</li>
            <li id="tabCity" class="active">选择</li>
            <li id="tabDistrict" class="hidden">选择</li>
        </ul>
        <ul id="lstCity">
            @foreach (var item in BuyUnion.Address.AddressList.Provinces.FirstOrDefault(s => s.Name == "广东").Citys)
            {
                <li>@item.Name</li>
            }
        </ul>
        <ul id="lstDistrict"></ul>
    </div>



    @*商品信息*@
    <div class="orderSubmit-title">商品清单</div>
    <div class="orderSubmit-baseInfo">
        @foreach (var item in Model.Details)
            {
            <div class="orderDetail-item" data-item="@( JsonConvert.SerializeObject(new { item.Count,item.Price,item.ID }))">
                <div class="orderDetail-item-img">
                    <img src="@Url.ResizeImage(item.Image,120,120)" />
                </div>
                <div class="orderDetail-item-info">
                    <div class="orderDetail-item-info-name">@item.Name</div>
                    <div class="orderDetail-item-info-price"><span class="fs16">￥</span><span class="">@item.Price</span></div>
                    <div class="orderDetail-item-info-num">
                        <button type="button" class="minus btn btn-default">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <input type="number" name="Count" value="@item.Count" />
                        <button type="button" class="plus btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

    @*价格信息*@
    <div class="orderSubmit-title">费用详情</div>
    <div class="orderSubmit-model clearfix">
        <div class="fl">商品金额</div>
        <div class="fr"><span id="Amount">@Model.Amount.ToString("C")</span></div>
    </div>
    <div class="orderSubmit-model clearfix">
        <div class="fl">运费</div>
        <div class="fr"><span id="Free">@Model.Free.ToString("C")</span></div>
    </div>
    <div class="orderSubmit-pay clearfix">
        <div class="fr">
            实付款：<b id="Sum">￥@(Model.Amount + Model.Free)</b>
            <input id="btnSubmit" data-code="@Model.Code" type="button" class="btn btn-danger" value="微信支付" />
        </div>
    </div>
    @*数量增加加载*@
    <div class="orderSubmit-load hidden">
        <img src="~/Content/images/view/loadingGif.gif" />
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/orderSubmit")
}