@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model BuyUnion.Models.SubmitOrderViewModel
@{
    ViewBag.Title = "提交订单";
}
@using (Html.BeginForm())
{
    <div class="orderSubmit">
        <div>
            配送方式：
            <div class="orderSubmit-type">
                <input id="typeExpress" type="radio" checked name="Type" value="@BuyUnion.Enums.OrderType.Express" />
                <label for="typeExpress">快递配送</label>
            </div>
            <div class="orderSubmit-type">
                <input id="typeOffine" type="radio" name="Type" value="@BuyUnion.Enums.OrderType.Offine" />
                <label for="typeOffine">店面领取</label>
            </div>
        </div>

            @*添加编辑收货人信息*@
            <table class="consigneeInfo">
                <tr>
                    <td>收货人：</td>
                    <td>@Html.EditorFor(model => model.Consignee)</td>
                </tr>
                <tr>
                    <td>联系电话：</td>
                    <td>@Html.EditorFor(model => model.PhoneNumber)</td>
                </tr>
                <tr>
                    <td>所在地区：</td>
                    <td id="selectedAddress">
                        <div>广东</div>
                    </td>
                </tr>
                <tr>
                    <td>详细地址</td>
                    <td>
                        @Html.EditorFor(model => model.Address)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="text-danger">
                            该商品由于不适合长途运输，所以只支持广东省。
                        </p>
                    </td>
                </tr>
            </table>
            @*选择地区*@
            <div id="districtSelector" class="hidden">
                <ul class="tabUl">
                    <li id="tabProvince">广东</li>
                    <li id="tabCity" class="active">选择</li>
                    <li id="tabDistrict" class="hidden">选择</li>
                </ul>
                <ul id="lstCity">
                    @foreach (var item in BuyUnion.Address.AddressList.Provinces.FirstOrDefault(s => s.Name == "广东").Citys)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
                <ul id="lstDistrict"></ul>
            </div>

        @*商品信息*@
        <table class="orderSubmit-orderDetail">
            @foreach (var item in Model.Details)
            {
                <tr data-item="@(new { item.Count,item.Price,item.ID })">
                    <td>
                        <img src="@Url.ResizeImage(item.Image,120,120)" />
                    </td>
                    <td>
                        <p>@item.Name</p>
                        <p><span>￥</span><span class=""></span> @item.Price</p>
                        <div>
                            <button><span class="glyphicon glyphicon-minus"></span></button>
                            <input type="number" name="name" value="@item.Count" />
                            <button><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </td>
                </tr>
            }
        </table>

    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/orderSubmit")
}