
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    List<BuyUnion.Models.Product> products = new List<BuyUnion.Models.Product>();
}

@Styles.Render("~/bundles/swiper/css")

<div class="homeIndexM">
    <div class="homeIndexM-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/Content/Images/home/home_slide_img04.jpg"/>
                    <div class="arrow-up"></div>
                </div>
                @foreach (var item in products)
                {
                    <div class="swiper-slide">
                        <div>
                            <img src="@Url.ResizeImage(item.Image)" /> 
                            <div>@item.Name</div>
                            <div>@item.Price</div>
                            <del>@item.OriginalPrice</del>
                            <a href="@Url.Action("Details")">
                                <div></div>
                            </a>
                        </div>
                        <div class="arrow-up"></div>
                    </div>
                }
              
                <div class="swiper-slide">
                    <img src="~/Content/Images/home/home_slide_img02.jpg" />
                </div>
            </div>
        </div>
    </div>
   
</div>



@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/homeIndex")
}