@model IEnumerable<BuyUnion.Models.ShopAmountLog>

@{
    ViewBag.Title = "提现管理";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
    var paged = (PagedList.IPagedList<BuyUnion.Models.ShopAmountLog>)Model;
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("申请提现列表", "ApplicationIndex")</li>
            </ul>
        </div>
    </div>
</nav>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>@item.Type.GetDisplayName()</td>
        </tr>
    }

</table>


@Html.PageList(paged, Url.PageUrl())