@model IEnumerable<BuyUnion.Models.ProxyAmountLog>

@{
    ViewBag.Title = "佣金详情";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
    var paged = (PagedList.IPagedList<BuyUnion.Models.ProxyAmountLog>)Model;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("佣金管理", "Index")</li>
    <li class="active">佣金详情</li>
</ol>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProxyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProxyID)
            </td>
            <td>
                @item.Type.GetDisplayName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
        </tr>
    }

</table>

@Html.PageList(paged, Url.PageUrl())