@model IEnumerable<BuyUnion.Models.CommissionViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProxyUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProxyUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProxyUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProxyUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("详情", "Details", new { proxyUserID = item.ProxyUserID }) 
            </td>
        </tr>
    }

</table>


