<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>@ViewBag.Title -买了么联盟</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="">
        @RenderBody()
    </div>

    <div class="mask hidden"></div>
    <div class="mask style02 hidden"></div>
    <div class="promptBox" style="display:none">
        <div class="promptText"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cookie")
    @Scripts.Render("~/bundles/jqueryui/js")
    @Scripts.Render("~/bundles/comm")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @RenderSection("scripts", required: false)
</body>
</html>