
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 买了么联盟</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/datetimepicker/css")
    <meta name="description" content="买了么联盟" />
    @{

        Func<string, string> hidSidebar = s =>
        {
            var roles = s.Split(',').Where(x => !string.IsNullOrWhiteSpace(x));
            return roles.Any(x => User.IsInRole(x)) ? "" : "hidden";
        };
    }
</head>
<body class="layoutBackground">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("买了么联盟", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="fluid">
        <div id="sidebar" class="sidebar">
            <ul class="nav nav-sidebar">
                <li class="@hidSidebar(SysRole.UserManageRead)">
                    <a href="@Url.Action("Index", "UserManage")" title="用户管理">用户管理</a>
                </li>
                <li class="@hidSidebar(SysRole.RoleManageRead)">
                    <a href="@Url.Action("Index", "RoleManage")" title="权限管理">权限管理</a>
                </li>
                <li class="@hidSidebar(SysRole.ProductManageRead)">
                    <a href="@Url.Action("Index", "ProductManage")" title="商品管理">商品管理</a>
                </li>
                <li class="@hidSidebar(SysRole.OrderManageRead)">
                    <a href="@Url.Action("Index", "OrderManage")" title="订单管理">订单管理</a>
                </li>
                <li class="@hidSidebar(SysRole.CommissionManageRead)">
                    <a href="@Url.Action("Index", "Commission")" title="佣金管理">佣金管理</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Withdraw")" title="提现管理">提现管理</a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="alertList"></div>
            @RenderBody()
        </div>

    </div>
    <div class="mask hidden"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/comm")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("#sidebar a[title='@ViewBag.Sidebar']").parent().addClass("active");
        })
    </script>
</body>

</html>
